<div class="container col-6">
  <h1>Create a new list</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.button :submit %>
  <% end %>
</div>
<%= link_to "Go back to lists", lists_path %>