<h1>Bookmarks in this list</h1>
<ul>
  <% @bookmarks.each do |e| %>
    <li><%= e.comment %> </li>
  <% end %>
</ul>

<%= link_to "Go back to list", lists_path %>
<%= link_to "Create a bookmark", new_list_bookmark_path(params[:id]) %>